<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M1_R_Basics/images/IDSNlogo.png" width="200" align="center">
</a>

<h1>Data Wrangling with Regular Expressions</h1>

Estimated time needed: **40** minutes

## Lab Overview:

In the previous data collection labs, you collected some raw datasets from several different sources. In this lab, you need to perform data wrangling tasks in order to improve data quality.

You will again use regular expressions, along with the `stringr` package (part of `tidyverse`), to clean up the bike-sharing systems data that you previously web scraped from the wiki page:

[https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems](https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01)

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-list-bike-sharing-systems.png" width="800" align="center">
</a>

One typical challenge of web scraping is that data extracted from HTML pages may contain unnecessary or inconsistently fomatted information.\
For example:

*   Textual annotations in numeric fields: `1000 (Updated with 1050)`
*   Attached reference links: `Bike sharing system [123]`
*   Inconsistent data formats: `Yes` and `Y` for the logical value `TRUE` or `2021-04-09` and `Apr 09, 2021` for the same date
*   HTML style tags: `<span style="color:blue">Bike sharing system</span>`
*   Special characters: `&nbsp` for a white space

Many more such examples of noise may be encountered in real-world scraped data and most of such text related noises could be handled by regular expressions.

To summarize, you will be using `stringr` (part of `tidyverse`) and regular expressions to perform the following data wrangling tasks:

*   TASK: Standardize column names for all collected datasets
*   TASK: Remove undesired reference links from the scraped bike-sharing systems dataset
*   TASK: Extract only the numeric value from undesired text annotations

Let's begin by importing the libraries you will use for these data wrangling tasks.

In [9]:
# Check whether you need to install the `tidyverse` library
require("tidyverse")
library(tidyverse)
library(stringr)
library(dplyr)

## TASK: Standardize column names for all collected datasets

In the previous data collection labs, you collected four datasets in csv format:

*   `raw_bike_sharing_systems.csv`:  A list of active bike-sharing systems across the world
*   `raw_cities_weather_forecast.csv`: 5-day weather forecasts for a list of cities, from OpenWeather API
*   `raw_worldcities.csv`: A list of major cities' info (such as name, latitude and longitude) across the world
*   `raw_seoul_bike_sharing.csv`: Weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour, and date information, from Seoul bike-sharing systems

*Optional:* If you had some difficulties finishing the data collection labs, you may download the datasets directly from the following URLs:

In [10]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

To improve dataset readbility by both human and computer systems, we first need to standardize the column names of the datasets above using the following naming convention:

*   Column names need to be UPPERCASE
*   The word separator needs to be an underscore, such as in `COLUMN_NAME`

In [11]:
bikes<-read.csv("raw_bike_sharing_systems.csv")
seoul_bike<-read.csv("raw_seoul_bike_sharing.csv")
cities_weather<-read.csv("raw_cities_weather_forecast.csv")
worldcities_weather<-read.csv("raw_worldcities.csv")
head(cities_weather)
head(seoul_bike)
head(bikes)
head(worldcities_weather)

  city  weather visibility temp  temp_min temp_max pressure humidity wind_speed
1 Seoul Clear   10000      12.32 10.91    12.32    1015     50       2.18
2 Seoul Clear   10000      11.48  9.81    11.48    1016     48       1.25
3 Seoul Clouds  10000       9.99  8.82     9.99    1015     46       0.94
4 Seoul Clouds  10000       7.87  7.87     7.87    1014     46       0.83
5 Seoul Clouds  10000      10.09 10.09    10.09    1014     37       1.96
6 Seoul Rain    10000       9.74  9.74     9.74    1014     48       3.24
  wind_deg season forecast_datetime
1 248      Spring 2021-04-16 12:00:00
2 142      Spring 2021-04-16 15:00:00
3 130      Spring 2021-04-16 18:00:00
4  31      Spring 2021-04-16 21:00:00
5 309      Spring 2021-04-17 00:00:00
6 267      Spring 2021-04-17 03:00:00

  Date       RENTED_BIKE_COUNT Hour TEMPERATURE HUMIDITY WIND_SPEED Visibility
1 01/12/2017 254               0    -5.2        37       2.2        2000
2 01/12/2017 204               1    -5.5        38       0.8        2000
3 01/12/2017 173               2    -6.0        39       1.0        2000
4 01/12/2017 107               3    -6.2        40       0.9        2000
5 01/12/2017  78               4    -6.0        36       2.3        2000
6 01/12/2017 100               5    -6.4        37       1.5        2000
  DEW_POINT_TEMPERATURE SOLAR_RADIATION RAINFALL Snowfall SEASONS HOLIDAY
1 -17.6                 0               0        0        Winter  No Holiday
2 -17.6                 0               0        0        Winter  No Holiday
3 -17.7                 0               0        0        Winter  No Holiday
4 -17.6                 0               0        0        Winter  No Holiday
5 -18.6                 0               0        0        Winter  No Holiday
6 -18.7                 0               0        0        Winter  No Holiday
  FUNCTIONING_DAY
1 Yes
2 Yes
3 Yes
4 Yes
5 Yes
6 Yes

  COUNTRY   City                  Name                 SYSTEM
1 Albania   Tirana                Ecovolis             NA
2 Argentina Mendoza               Metrobici            NA
3 Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
4 Argentina Buenos Aires          Ecobici              Serttel Brasil
5 Argentina Rosario               Mi Bici Tu Bici[11]  NA
6 Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
  OPERATOR                       LAUNCHED         DISCONTINUED         STATIONS
1 NA                             March 2011       NA                   8
2 NA                             2014             NA                   2
3 NA                             27 November 2016 NA                   8
4 Bike In Baires Consortium.[10] 2010             NA                   400
5 NA                             2 December 2015  NA                   47
6 Motivate                       June 2010        30 November 2019[13] 53
  BICYCLES DAILY_RIDERSHIP
1 200      NA
2 40       NA
3 80       NA
4 4000     21917
5 480      NA
6 676      NA

  City     CITY_ASCII LAT     LNG      COUNTRY     ISO2 ISO3 ADMIN_NAME
1 Tokyo    Tokyo      35.6897 139.6922 Japan       JP   JPN  TÅ\215kyÅ\215
2 Jakarta  Jakarta    -6.2146 106.8451 Indonesia   ID   IDN  Jakarta
3 Delhi    Delhi      28.6600  77.2300 India       IN   IND  Delhi
4 Mumbai   Mumbai     18.9667  72.8333 India       IN   IND  MahÄ\201rÄ\201shtra
5 Manila   Manila     14.5958 120.9772 Philippines PH   PHL  Manila
6 Shanghai Shanghai   31.1667 121.4667 China       CN   CHN  Shanghai
  CAPITAL POPULATION ID
1 primary 37977000   1392685764
2 primary 34540000   1360771077
3 admin   29617000   1356872604
4 admin   23355000   1356226629
5 primary 23088000   1608618140
6 admin   22120000   1156073548

You can use the following dataset list and the `names()` function to get and set each of their column names, and convert them according to our defined naming convention.

In [12]:
dataset_list <- c('raw_bike_sharing_systems.csv', 'raw_seoul_bike_sharing.csv', 'raw_cities_weather_forecast.csv', 'raw_worldcities.csv')

*TODO*: Write a `for` loop to iterate over the above datasets and convert their column names

In [13]:
setwd("D:")
for (dataset_name in dataset_list){
    # Read dataset
    dataset <- read_csv(dataset_name)
    # Standardized its columns:
    convert<-toupper(colnames(dataset))
    colnames(dataset)<- convert
    # Convert all column names to uppercase
   dataset_fixed<-dataset %>% mutate_all(funs(str_replace(.," ","_")))
    print(dataset_fixed)
    # Replace any white space separators by underscores, using the str_replace_all function
    # Save the dataset 
    write.csv(dataset_fixed, dataset_name, row.names=FALSE)
}

Rows: 480 Columns: 10
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"`funs()` was deprecated in dplyr 0.8.0.
Please use a list of either functions or lambdas:

  # Simple named list:
  list(mean = mean, median = median)

  # Auto named with `tibble::lst()`:
  tibble::lst(mean, median)

  # Using lambdas
  list(~ mean(., trim = .2), ~ median(., na.rm = TRUE))
This warning is displayed once every 8 hours.
Call `lifecycle::last_lifecycle_warnings()` to see where this warning was generated."

# A tibble: 480 x 10
   COUNTRY   CITY  NAME  SYSTEM OPERATOR LAUNCHED DISCONTINUED STATIONS BICYCLES
   <chr>     <chr> <chr> <chr>  <chr>    <chr>    <chr>        <chr>    <chr>
 1 Albania   Tira~ Ecov~ NA     NA       March_2~ NA           8        200
 2 Argentina Mend~ Metr~ NA     NA       2014     NA           2        40
 3 Argentina San_~ Bici~ Biciu~ NA       27_Nove~ NA           8        80
 4 Argentina Buen~ Ecob~ Sertt~ Bike_In~ 2010     NA           400      4000
 5 Argentina Rosa~ Mi_B~ NA     NA       2_Decem~ NA           47       480
 6 Australia Melb~ Melb~ PBSC_~ Motivate June_20~ 30_November~ 53       676
 7 Australia Bris~ City~ 3_Gen~ JCDecaux Septemb~ NA           150      2000
 8 Australia Melb~ oBike 4_Gen~ NA       July_20~ July_2018    dockless 1250
 9 Australia Sydn~ oBike 4_Gen~ NA       July_20~ July_2018    dockless 1250
10 Australia Sydn~ Ofo   4_Gen~ NA       October~ NA           dockless 600
# ... with 470 more rows, and 1 more variable: DAILY_RIDERSHIP <chr>

Rows: 8760 Columns: 14
-- Column specification --------------------------------------------------------
Delimiter: ","
chr  (4): DATE, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBI...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

# A tibble: 8,760 x 14
   DATE       RENTED_BIKE_COUNT HOUR  TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
   <chr>      <chr>             <chr> <chr>       <chr>    <chr>      <chr>
 1 01/12/2017 254               0     -5.2        37       2.2        2000
 2 01/12/2017 204               1     -5.5        38       0.8        2000
 3 01/12/2017 173               2     -6          39       1          2000
 4 01/12/2017 107               3     -6.2        40       0.9        2000
 5 01/12/2017 78                4     -6          36       2.3        2000
 6 01/12/2017 100               5     -6.4        37       1.5        2000
 7 01/12/2017 181               6     -6.6        35       1.3        2000
 8 01/12/2017 460               7     -7.4        38       0.9        2000
 9 01/12/2017 930               8     -7.6        37       1.1        2000
10 01/12/2017 490               9     -6.5        27       0.5        1928
# ... with 8,750 more rows, and 7 more variables: DEW_POINT_TEMPERATURE <chr>,
#   SOLAR_RADIATION <chr>, RAINFALL <chr>, SNOWFALL <chr>, SEASONS <chr>,
#   HOLIDAY <chr>, FUNCTIONING_DAY <chr>

Rows: 160 Columns: 12
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (4): CITY, WEATHER, SEASON, FORECAST_DATETIME
dbl (8): VISIBILITY, TEMP, TEMP_MIN, TEMP_MAX, PRESSURE, HUMIDITY, WIND_SPEE...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

# A tibble: 160 x 12
   CITY  WEATHER VISIBILITY TEMP  TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
   <chr> <chr>   <chr>      <chr> <chr>    <chr>    <chr>    <chr>    <chr>
 1 Seoul Clear   10000      12.32 10.91    12.32    1015     50       2.18
 2 Seoul Clear   10000      11.48 9.81     11.48    1016     48       1.25
 3 Seoul Clouds  10000      9.99  8.82     9.99     1015     46       0.94
 4 Seoul Clouds  10000      7.87  7.87     7.87     1014     46       0.83
 5 Seoul Clouds  10000      10.09 10.09    10.09    1014     37       1.96
 6 Seoul Rain    10000      9.74  9.74     9.74     1014     48       3.24
 7 Seoul Clouds  10000      11.39 11.39    11.39    1012     44       5.65
 8 Seoul Rain    10000      9.75  9.75     9.75     1012     57       5.63
 9 Seoul Rain    10000      9.11  9.11     9.11     1013     51       4.91
10 Seoul Clear   10000      8.33  8.33     8.33     1013     62       4.49
# ... with 150 more rows, and 3 more variables: WIND_DEG <chr>, SEASON <chr>,
#   FORECAST_DATETIME <chr>

Rows: 26569 Columns: 11
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (7): CITY, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

# A tibble: 26,569 x 11
   CITY        CITY_ASCII  LAT      LNG   COUNTRY ISO2  ISO3  ADMIN_NAME CAPITAL
   <chr>       <chr>       <chr>    <chr> <chr>   <chr> <chr> <chr>      <chr>
 1 Tokyo       Tokyo       35.6897  139.~ Japan   JP    JPN   Tokyo      primary
 2 Jakarta     Jakarta     -6.2146  106.~ Indone~ ID    IDN   Jakarta    primary
 3 Delhi       Delhi       28.66    77.23 India   IN    IND   Delhi      admin
 4 Mumbai      Mumbai      18.9667  72.8~ India   IN    IND   Maharasht~ admin
 5 Manila      Manila      14.5958  120.~ Philip~ PH    PHL   Manila     primary
 6 Shanghai    Shanghai    31.1667  121.~ China   CN    CHN   Shanghai   admin
 7 S<U+FFFD>o_Paulo   Sao_Paulo   -23.5504 -46.~ Brazil  BR    BRA   S<U+FFFD>o_Paulo  admin
 8 Seoul       Seoul       37.5833  127   Korea,~ KR    KOR   Seoul      primary
 9 Mexico_City Mexico_City 19.4333  -99.~ Mexico  MX    MEX   Ciudad_de~ primary
10 Guangzhou   Guangzhou   23.1288  113.~ China   CN    CHN   Guangdong  admin
# ... with 26,559 more rows, and 2 more variables: POPULATION <chr>, ID <chr>

*TODO*: Read the resulting datasets back and check whether their column names follow the naming convention

In [14]:
for (dataset_name in dataset_list){
    # Print a summary for each data set to check whether the column names were correctly converted
    datasets<-read.csv(dataset_name)
    print(summary(datasets))
}

   COUNTRY              CITY               NAME              SYSTEM
 Length:480         Length:480         Length:480         Length:480
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   OPERATOR           LAUNCHED         DISCONTINUED         STATIONS
 Length:480         Length:480         Length:480         Length:480
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   BICYCLES         DAILY_RIDERSHIP
 Length:480         Length:480
 Class :character   Class :character
 Mode  :character   Mode  :character
     DATE           RENTED_BIKE_COUNT      HOUR        TEMPERATURE
 Length:8760        Min.   :   2.0    Min.   : 0.00   Min.   :-17.80
 Class :character   1st Qu.: 214.0    1st Qu.: 5.75   1st Qu.:  3.40
 Mode  :character   Median : 542.0    Median :11.50   Median : 13.70
                    Mean   : 729.2    Mean   :11.50   Mean   : 12.87
                    3rd Qu.:1084.0    3rd Qu.:17.25   3rd Qu.: 22.50
                    Max.   :3556.0    Max.   :23.00   Max.   : 39.40
                    NA's   :295                       NA's   :11
    HUMIDITY       WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE
 Min.   : 0.00   Min.   :0.000   Min.   :  27   Min.   :-30.600
 1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 940   1st Qu.: -4.700
 Median :57.00   Median :1.500   Median :1698   Median :  5.100
 Mean   :58.23   Mean   :1.725   Mean   :1437   Mean   :  4.074
 3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 14.800
 Max.   :98.00   Max.   :7.400   Max.   :2000   Max.   : 27.200

 SOLAR_RADIATION     RAINFALL          SNOWFALL         SEASONS
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000   Length:8760
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000   Class :character
 Median :0.0100   Median : 0.0000   Median :0.00000   Mode  :character
 Mean   :0.5691   Mean   : 0.1487   Mean   :0.07507
 3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   :3.5200   Max.   :35.0000   Max.   :8.80000

   HOLIDAY          FUNCTIONING_DAY
 Length:8760        Length:8760
 Class :character   Class :character
 Mode  :character   Mode  :character




     CITY             WEATHER            VISIBILITY         TEMP
 Length:160         Length:160         Min.   : 9940   Min.   : 3.810
 Class :character   Class :character   1st Qu.:10000   1st Qu.: 9.748
 Mode  :character   Mode  :character   Median :10000   Median :12.765
                                       Mean   :10000   Mean   :13.505
                                       3rd Qu.:10000   3rd Qu.:16.747
                                       Max.   :10000   Max.   :26.130
    TEMP_MIN         TEMP_MAX         PRESSURE       HUMIDITY
 Min.   : 3.810   Min.   : 3.810   Min.   : 954   Min.   :17.00
 1st Qu.: 9.725   1st Qu.: 9.953   1st Qu.:1016   1st Qu.:37.00
 Median :12.765   Median :12.765   Median :1019   Median :49.00
 Mean   :13.444   Mean   :13.539   Mean   :1018   Mean   :49.92
 3rd Qu.:16.635   3rd Qu.:16.977   3rd Qu.:1022   3rd Qu.:62.00
 Max.   :26.130   Max.   :26.130   Max.   :1028   Max.   :94.00
   WIND_SPEED       WIND_DEG        SEASON          FORECAST_DATETIME
 Min.   :0.180   Min.   :  2.0   Length:160         Length:160
 1st Qu.:1.455   1st Qu.: 92.0   Class :character   Class :character
 Median :2.130   Median :141.0   Mode  :character   Mode  :character
 Mean   :2.778   Mean   :163.7
 3rd Qu.:3.723   3rd Qu.:256.8
 Max.   :8.180   Max.   :352.0
     CITY            CITY_ASCII             LAT              LNG
 Length:26569       Length:26569       Min.   :-54.93   Min.   :-179.5900
 Class :character   Class :character   1st Qu.: 27.92   1st Qu.: -78.7794
 Mode  :character   Mode  :character   Median : 40.22   Median :  -0.7689
                                       Mean   : 33.10   Mean   : -11.3639
                                       3rd Qu.: 47.99   3rd Qu.:  29.6833
                                       Max.   : 81.72   Max.   : 179.3667

   COUNTRY              ISO2               ISO3            ADMIN_NAME
 Length:26569       Length:26569       Length:26569       Length:26569
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   CAPITAL            POPULATION             ID
 Length:26569       Min.   :       0   Min.   :1.004e+09
 Class :character   1st Qu.:    9246   1st Qu.:1.277e+09
 Mode  :character   Median :   20080   Median :1.643e+09
                    Mean   :  162346   Mean   :1.556e+09
                    3rd Qu.:   59369   3rd Qu.:1.840e+09
                    Max.   :37977000   Max.   :1.934e+09
                    NA's   :973

## Process the web-scraped bike sharing system dataset

By now we have standardized all column names. Next, we will focus on cleaning up the values in the web-scraped bike sharing systems dataset.

In [15]:
# First load the dataset
bike_sharing_df <- read_csv("raw_bike_sharing_systems.csv")

Rows: 480 Columns: 10
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [16]:
# Print its head
head(bike_sharing_df)

  COUNTRY   CITY                  NAME                 SYSTEM
1 Albania   Tirana                Ecovolis             NA
2 Argentina Mendoza               Metrobici            NA
3 Argentina San_Lorenzo,_Santa Fe Biciudad             Biciudad
4 Argentina Buenos_Aires          Ecobici              Serttel_Brasil
5 Argentina Rosario               Mi_Bici_Tu Bici[11]  NA
6 Australia Melbourne[12]         Melbourne_Bike_Share PBSC_&_8D
  OPERATOR                       LAUNCHED         DISCONTINUED         STATIONS
1 NA                             March_2011       NA                   8
2 NA                             2014             NA                   2
3 NA                             27_November_2016 NA                   8
4 Bike_In_Baires Consortium.[10] 2010             NA                   400
5 NA                             2_December_2015  NA                   47
6 Motivate                       June_2010        30_November_2019[13] 53
  BICYCLES DAILY_RIDERSHIP
1 200      NA
2 40       NA
3 80       NA
4 4000     21917
5 480      NA
6 676      NA

Even from the first few rows, you can see there is plenty of undesireable embedded textual content, such as the reference link included in `Melbourne[12]`.

In this project, let's only focus on processing the following revelant columns (feel free to process the other columns for more practice):

*   `COUNTRY`: Country name
*   `CITY`: City name
*   `SYSTEM`: Bike-sharing system name
*   `BICYCLES`: Total number of bikes in the system

In [17]:
# Select the four columns
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

Let's see the types of the selected columns

In [18]:
sub_bike_sharing_df %>% 
    summarize_all(class) %>%
    gather(variable, class)

  variable class
1 COUNTRY  character
2 CITY     character
3 SYSTEM   character
4 BICYCLES character

They are all interpreted as character columns, but we expect the `BICYCLES` column to be of numeric type. Let's see why it wasn't loaded as a numeric column - possibly some entries contain characters. Let's create a simple function called `find_character` to check that.

In [19]:
# grepl searches a string for non-digital characters, and returns TRUE or FALSE
# if it finds any non-digital characters, then the bicyle column is not purely numeric
find_character <- function(strings) grepl("[^0-9]", strings)
find_character

function(strings) grepl("[^0-9]", strings)

Let's try to find any elements in the `Bicycles` column containing non-numeric characters.

In [24]:
sub_bike_sharing_df %>% 
    select(BICYCLES) %>% 
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

   BICYCLES
1  4115[22]
2  310[59]
3  500[72]
4  [75]
5  180[76]
6  600[77]
7  [78]
8  initially_800_(later 2500)
9  100_(220)
10 370[114]

As you can see, many rows have non-numeric characters, such as `32 (including 6 rollers) [162]` and `1000[253]`. This is actually very common for a table scraped from Wiki when no input validation is enforced.

Later, you will use regular expressions to clean them up.

Next, let's take a look at the other columns, namely `COUNTRY`, `CITY`, and `SYSTEM`, to see if they contain any undesired reference links, such as in `Melbourne[12]`.

In [49]:
# Define a 'reference link' character class, 
# `[A-z0-9]` means at least one character 
# `\\[` and `\\]` means the character is wrapped by [], such as for [12] or [abc]
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [26]:
# Check whether the COUNTRY column has any reference links
sub_bike_sharing_df %>% 
    select(COUNTRY) %>% 
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

     COUNTRY

Ok, looks like the `COUNTRY` column is clean. Let's check the `CITY` column.

In [27]:
# Check whether the CITY column has any reference links
sub_bike_sharing_df %>% 
    select(CITY) %>% 
    filter(find_reference_pattern(CITY)) %>%
    slice(0:10)

   CITY
1  Melbourne[12]
2  Brisbane[14][15]
3  Lower_Austria[18]
4  Namur[19]
5  Brussels[21]
6  Salvador[23]
7  Belo_Horizonte[24]
8  Jo<U+FFFD>o_Pessoa[25]
9  (Pedro_de)_Toledo[26]
10 Rio_de_Janeiro[27]

Hmm, looks like the `CITY` column has some reference links to be removed. Next, let's check the `SYSTEM` column.

In [28]:
# Check whether the System column has any reference links
sub_bike_sharing_df %>% 
    select(SYSTEM) %>% 
    filter(find_reference_pattern(SYSTEM)) %>%
    slice(0:10)

  SYSTEM
1 EasyBike[58]
2 4_Gen.[61]
3 3_Gen._SmooveKey[113]
4 3_Gen._Smoove[141][142][143][139]
5 3_Gen._Smoove[179]
6 3_Gen._Smoove[181]
7 3_Gen._Smoove[183]

So the `SYSTEM` column also has some reference links.

After some preliminary investigations, we identified that the `CITY` and `SYSTEM` columns have some undesired reference links, and the `BICYCLES` column has both reference links and some
textual annotations.

Next, you need to use regular expressions to clean up the unexpected reference links and text annotations in numeric values.

# TASK: Remove undesired reference links using regular expressions

*TODO:* Write a custom function using `stringr::str_replace_all` to replace all reference links with an empty character for columns `CITY` and `SYSTEM`

In [56]:
# remove reference link
remove_ref <- function(strings) {
    #reference_pattern <- "Define a pattern matching a reference link such as [1]"
    reference_pattern <- "\\[[\\w]+\\]"
    # Replace all matched substrings with a white space using str_replace_all()
   result<-str_replace_all(strings,reference_pattern," ")
    # Trim the reslt if you want
     return(result)
}

*TODO:* Use the `dplyr::mutate()` function to apply the `remove_ref` function to the `CITY` and `SYSTEM` columns

In [63]:
result<-sub_bike_sharing_df %>% mutate(CITY=remove_ref(CITY),SYSTEM=remove_ref(SYSTEM),BICYCLES=remove_ref(BICYCLES))

*TODO:* Use the following code to check whether all reference links are removed:

In [64]:
result %>% 
    select(CITY, SYSTEM, BICYCLES) %>% 
    filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

     CITY SYSTEM BICYCLES

# TASK: Extract the numeric value using regular expressions

*TODO:* Write a custom function using `stringr::str_extract` to extract the first digital substring match and convert it into numeric type For example, extract the value '32' from `32 (including 6 rollers) [162]`.

In [72]:
# Extract the first number
extract_num <- function(columns){
    # Define a digital pattern
    digitals_pattern <- "[0-9]+"
    # Find the first match using str_extract
    extracted <-str_extract(columns,digitals_pattern)
    # Convert the result to numeric using the as.numeric() function
    extracted_value<-as.numeric(extracted)
    return(extracted_value)
}

*TODO:* Use the `dplyr::mutate()` function to apply `extract_num` on the `BICYCLES` column

In [73]:
# Use the mutate() function on the BICYCLES column
result2<- result %>% mutate(BICYCLES=extract_num(BICYCLES))

*TODO:* Use the summary function to check the descriptive statistics of the numeric `BICYCLES` column

In [74]:
summary(result2$BICYCLES)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
      5     100     350    2022    1400   78000      78

*TODO:* Write the cleaned bike-sharing systems dataset into a csv file called `bike_sharing_systems.csv`

In [81]:
# Write dataset to `bike_sharing_systems.csv`
write.csv(result2,"D:bike_sharing_systems.csv",row.names=FALSE)
read.csv("bike_sharing_systems.csv")

    COUNTRY       CITY
1   Albania       Tirana
2   Argentina     Mendoza
3   Argentina     San_Lorenzo,_Santa Fe
4   Argentina     Buenos_Aires
5   Argentina     Rosario
6   Australia     Melbourne
7   Australia     Brisbane
8   Australia     Melbourne
9   Australia     Sydney
10  Australia     Sydney
11  Australia     Sydney
12  Austria       Vienna
13  Austria       Burgenland
14  Austria       Lower_Austria
15  Austria       Salzburg
16  Austria       Vienna
17  Austria       Vorarlberg
18  Bangladesh    Dhaka
19  Belgium       Namur
20  Belgium       Antwerp
21  Belgium       Brussels
22  Brazil        Salvador
23  Brazil        Belo_Horizonte
24  Brazil        Fortaleza
25  Brazil        Jo<U+FFFD>o_Pessoa
26  Brazil        (Pedro_de)_Toledo
27  Brazil        Rio_de_Janeiro
28  Brazil        S<U+FFFD>o_Paulo
29  Brazil        Sorocaba
30  Bulgaria      Burgas
... ...           ...
451 United_States Fullerton,_California
452 United_States Hoboken,_New_Jersey
453 United_States Houston,_Texas
454 United_States Jersey_City
455 United_States Kailua,_Hawaii
456 United_States Kansas_City,_Missouri
457 United_States Kona_District,_Hawaii
458 United_States Lansing,_MI
459 United_States Lincoln,_Nebraska
460 United_States Los_Angeles
461 United_States Madison,_Wisconsin
462 United_States Milwaukee,_Wisconsin
463 United_States Minneapolis,_Minnesota_and Saint Paul, Minnesota
464 United_States Oklahoma_City,_Oklahoma
465 United_States Omaha,_Nebraska
466 United_States Philadelphia,_Pennsylvania
467 United_States Phoenix,_Arizona
468 United_States Pittsburgh,_Pennsylvania
469 United_States Portland,_Oregon
470 United_States Portland,_Oregon
471 United_States Salt_Lake_City, Utah
472 United_States San_Antonio,_Texas
473 United_States San_Diego
474 United_States San_Francisco_Bay Area
475 United_States San_Francisco_Bay Area
476 United_States Santa_Monica,_California
477 United_States Savannah,_Georgia
478 United_States Seattle,_Washington
479 United_States Spartanburg,_South_Carolina
480 United_States St._Paul
    SYSTEM                              BICYCLES
1   NA                                   200
2   NA                                    40
3   Biciudad                              80
4   Serttel_Brasil                      4000
5   NA                                   480
6   PBSC_&_8D                            676
7   3_Gen._Cyclocity                    2000
8   4_Gen._oBike                        1250
9   4_Gen._oBike                        1250
10  4_Gen._Ofo                           600
11  Reddy_Go                            2000
12  3_Gen._Cyclocity                    1500
13  3_Gen._nextbike                       NA
14  3_Gen._nextbike                     1300
15  3_Gen._nextbike                       NA
16  2_Gen.                              1500
17  3_Gen._nextbike                       70
18  JoBike                               300
19  3_Gen._Cyclocity                     200
20  3_Gen._Clear CC                     3600
21  3_Gen._Cyclocity                    4115
22  tembici                               NA
23  Mobilicidade                         400
24  Mobilicidade                         800
25  Mobilicidade                          20
26  Toopedalando                          60
27  tembici                              300
28  tembici                              600
29  tembici                              120
30  Mobilicidade                         120
... ...                                 ...
451 Bike_Nation                           75
452 3_Gen._nextbike                      250
453 3_Gen._B-Cycle                       400
454 8D                                   500
455 3_Gen._B-Cycle                        12
456 3_Gen._B-Cycle                       300
457 PBSC                                  30
458 A2B_Bikeshare                         20
459 3_Gen._B-Cycle                       100
460 3_Gen._B-Cycle                      1000
461 3_Gen._B-Cycle                       350
462 3_Gen._B-Cycle                       400
463 PBSC_&_8D                           1833
464 Spokies                              100
465 3_Gen._B-Cycle                        35
466 3_Gen._B-Cycle                      1000
467 3_Gen._CycleHop and Social Bicycles  500
468 3_Gen._nextbike                      500
469 NA                                  1000
470 1_Gen._WhiteBikes                   1000
471 3_Gen._B-Cycle                       100
472 3_Gen._B-Cycle                       600
473 DecoBike                            1800
474 NA                                    NA
475 8D                                  7000
476 3_Gen._CycleHop and Social Bicycles  500
477 3_Gen._B-Cycle                        16
478 8D                                   500
479 3_Gen._B-Cycle                        40
480 1_Gen._w/ BikeCard                    NA

# References:

If you need to refresh your memory about regular expressions, please refer to this good Regular Expression cheat sheet:

<a href="https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01" target="_blank">Basic Regular Expressions in R</a>

# Next Steps

Great! Now you have cleaned up the bike-sharing system dataset using regular expressions. Next, you will use other `tidyverse` functions to perform data wrangling on the bike-sharing demand dataset.

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01" target="_blank">Yan Luo</a>

### Other Contributors

Jeff Grossman

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-04-08        | 1.0     | Yan        | Initial version created |
|                   |         |            |                         |
|                   |         |            |                         |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>